
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f7df0c;
    color: rgb(5, 5, 5);
}


.logo {
    font-size: 1.5em;
    font-weight: bolder;
    font-style: oblique;
}
.logoimg{
    width:300px;
    height: 120px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: rgb(42, 110, 2);
    font-size: 1em;
    transition: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links a:hover {
    text-decoration: underline;
}



.menu-btn {
    display: none;
    font-size: 1.8em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    
    .menu-btn {
        display: block;
    }
}
